/* Başlık */
body {
  font-family:'Oxygen', sans-serif;
}

header {
  background-image: url("/img/pattern.jpeg");
  background-size: cover;
  height: 250px;
}

span {
  font-weight: bold;
  color: blue;
}


/* footer */
.footer {
  background-color: skyblue; 
}

